@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer base {
  .font-outline-2 {
    /* -webkit-text-stroke: 8px white; */
    text-shadow:
      4px 0 #fff,
      -4px 0 #fff,
      0 4px #fff,
      0 -4px #fff,
      2px 2px #fff,
      -2px -2px #fff,
      2px -2px #fff,
      -2px 2px #fff;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.rowdies-400{
  font-family: 'Rowdies', cursive;
  font-weight: 400
}
.rowdies-300{
  font-family: 'Rowdies', cursive;
  font-weight: 300
}

.num {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
