@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Rowdies:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
body::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer base {
  .font-outline-2 {
    /* -webkit-text-stroke: 8px white; */
    text-shadow:
      8px 0 #fff,
      -8px 0 #fff,
      0 8px #fff,
      0 -8px #fff,
      4px 4px #fff,
      -4px -4px #fff,
      4px -4px #fff,
      -4px 4px #fff;
  }
}

.text-shadow-stroke {
  color: transparent;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
}

.rowdies-400 {
  font-family: "Rowdies", cursive;
  font-weight: 400;
}
.rowdies-300 {
  font-family: "Rowdies", cursive;
  font-weight: 300;
}

.roboto-300 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.roboto-400 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.num {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.9px black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
